//----------------------------------------------
// Links
//---------------------------------------------- 
a {
  color: $color-black;
  text-decoration: none;
}

//----------------------------------------------
// Button
//---------------------------------------------- 
.btn {
  display: inline-block;

  cursor: pointer;

  &:hover {

    .btn__subcontainer {
      transform: translate(0.125em, 0.125em);
    }
  }

  &__container {
    position: relative;

    overflow: hidden;
  }

  &__subcontainer {
    position: relative;
    z-index: 2;

    padding: {
      right: 0.5rem;
      bottom: 0.5rem;
    }
    
    overflow: hidden;
    transition: transform 200ms ease-in-out;
  }

  &__layer {
    padding: 0.5rem 2rem;
    
    background-color: $color-white;

    &--top {
      position: relative;

      border: 1px solid $color-black;
    }

    &--bottom {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      bottom: 0;
      right: 0;

      border: {
        right: 1px solid $color-black;
        bottom: 1px solid $color-black;
      }
      overflow: hidden;
    }
  }

  &__text {
    font-weight: 500;
  }

  &__border {
    position: absolute;

    display: block;
    height: 2rem;
    width: 1px;

    background-color: $color-black;
    transform: rotate(-45deg);

    &--bottom-left {
      left: 0.4rem;
      bottom: -1.5rem;
    }

    &--top-right {
      top: -1.1rem;
      right: 0;
    }

    &--bottom-right {
      bottom: -1.125rem;
      right: -0.125rem;
    }
  }
}

//----------------------------------------------
// Link Underline
//----------------------------------------------
%link-underline {

  &:hover,
  &:active,
  &:focus {
    color: $color-alpha;
    border-bottom: 1px solid $color-alpha;
  }

  #home & {
    color: $color-white;

    &:hover,
    &:active,
    &:focus {
      color: $color-white;
      border-bottom: 1px solid $color-white;
    }
  }
}
