//----------------------------------------------
// Links
//---------------------------------------------- 
a {
  color: $color-black;
  text-decoration: none;
}

//----------------------------------------------
// Link Underline
//----------------------------------------------
%link-underline {

  &:hover,
  &:active,
  &:focus {
    color: $color-alpha;
    border-bottom: 1px solid $color-alpha;
  }

  #home & {
    color: $color-white;

    &:hover,
    &:active,
    &:focus {
      color: $color-white;
      border-bottom: 1px solid $color-white;
    }
  }
}
