{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "globals": {
    "clearTimeout": true,
    "document": true,
    "FormData": true,
    "setTimeout": true,
    "top": true,
    "window": true,
    "XMLHttpRequest": true
  },
  "rules": {
    "indent": ["error", 2],
    "no-unused-vars": "warn",
    "quotes": ["error", "single"]
  }
}
