<section class="contact popup">
  <div class="popup__close">
    <div class="popup__exit"></div>
  </div>
  <div class="contact__container popup__container">
    <div class="contact__img bg-black">
      <figure class="absolute-bg" style="background-image: url({{ site.contact_img | prepend: site.baseurl }});"></figure>
    </div>
    <div class="contact__content bg-white">
      <div class="contact__mast">
        <h2 class="contact__header">Contact</h2>
      </div>

      <hr class="sep"/>

      <div class="contact__form">
        {% include formcarry.html %}
      </div>
    </div>
  </div>
</section>
