/**
 * Base Variables
 */
$font-header: "Noe Display", serif;
$font-body: "Apercu", sans-serif;

$color-alpha: #4231a9;

$color-black: #000;
$color-white: #fff;

$mq-xs: 20em;
$mq-sm: 30em;
$mq-md: 54em;
$mq-lg: 64em;
$mq-xl: 76.5em;
$mq-xxl: 114em;

/**
 * Base Settings/Overwrite Normalize
 */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: $font-body;
  font-weight: 300;
  font-size: 100%;
  line-height: 1.4;

  @media (min-width: $mq-sm) {
    font-size: 102.5%;
  }

  @media (min-width: $mq-md) {
    font-size: 105%;
  }

  @media (min-width: $mq-lg) {
    font-size: 107.5%;
  }

  @media (min-width: $mq-xl) {
    font-size: 110%;
  }

  @media (min-width: $mq-xxl) {
    font-size: 115%;
  }
}

h1, h2 {
  margin: 0;

  font-family: $font-header;
}

h3, h4, h5, h6 {
  margin: 0;

  font-family: $font-body;
  font-weight: 300;
}

h1 {
  font-size: 2.75em;
  line-height: 1.1;

  @media (min-width: $mq-md) {
    font-size: 5em;
  }
}

h2 {
  margin-bottom: 0.5em;

  font-size: 2em;
  line-height: 1.2;

  @media (min-width: $mq-md) {
    font-size: 3em;
  }
}

h3 {
  margin-bottom: 0.1em;

  font-size: 1.5em;

  @media (min-width: $mq-md) {
    font-size: 2em;
  }
}

p {
  margin-top: 0;
  margin-bottom: 0.75em;

  font-size: 1.1em;
}

a {
  color: $color-black;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

ol, ul {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

/**
 * Text Selection
 */
::selection {
  color: $color-white;
  background-color: $color-alpha;
  text-shadow: none;
}
