/**
 * Mast
 */
.mast {
  @extend %flex-center;

  position: relative;

  height: 18em;

  @media (min-width: $mq-sm) {
    height: 24em;
  }

  @media (min-width: $mq-md) {
    height: 30em;
  }

  &__container {
    z-index: 1;

    max-width: $mq-md;

    color: $color-white;
    text-align: center;
  }
}

/**
 * Preview
 */
.preview {

  &__link {

    &:hover,
    &:active,
    &:focus {

      .preview__header,
      .preview__subheader {
        color: $color-alpha;
      }

      .preview__subheader {
        text-decoration: underline;
      }
    }
  }

  &__header {

  }

  &__subheader {
    @extend %intro-font;

    display: inline-block;
    margin-bottom: 0;

    line-height: 1.2;
  }
}

/**
 * Post
 */
.post {

  .grid {

    & > *:last-child {
      margin-bottom: 0;
    }
  }

  &__intro {
    @extend %intro-font;

    margin-bottom: 0;
  }

  figure {
    margin: 2em 0;

    img {
      width: 100%;
    }
  }
}
