/**
 * Flex Center
 */
%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/**
 * Intro Font
 */
%intro-font {
  font-size: 1.25em;

  @media (min-width: $mq-md) {
    font-size: 1.5em;
  }
}

/**
 * Fixed Background Cover
 */
%fixed-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  height: 100%;
  width: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
