/**
 * Absolute Background Cover
 */
.absolute-bg {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

/**
 * Text
 */
.bold {
  font-weight: 500;
}

.italic {
  font-style: italic;
}

.text-center {
  text-align: center;
}

/**
 * Emoji Subheader
 */
.subheader-img {
  display: inline;
  height: 1em;
  width: 1em;
}

/**
 * Color Helpers
 */
.bg-alpha {
  background-color: $color-alpha;
}

.bg-black {
  background-color: $color-black;
}
