/**
 * Body
 */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background-color: $color-white;
}

/**
 * Main
 */
main {
  flex-grow: 1;
  padding-top: 4em;

  #home & {
    @extend %flex-center;

    padding-top: 0;
  }
}

/**
 * Sections
 */
section {
  position: relative;
}

.section-padding {
  padding: 3em 1em;

  @media (min-width: $mq-sm) {
    padding-right: 2em;
    padding-left: 2em;
  }

  @media (min-width: $mq-md) {
    padding-right: 3em;
    padding-left: 3em;
  }

  &--no-top {
    @extend .section-padding;

    padding-top: 0;
  }
}

.grid {
  max-width: $mq-md;
  margin: 0 auto;

  @media (min-width: $mq-md) {
    width: 75%;
  }
}

/**
 * Home
 */
#home {
  color: $color-white;
  background-color: $color-alpha;
}

/**
 * Header
 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4em;
  width: 100%;

  background-color: $color-white;
  box-shadow: 0 1px 1px rgba($color-black, 0.1);

  @media (min-width: $mq-sm) {
    padding-right: 2em;
    padding-left: 2em;
  }

  @media (min-width: $mq-md) {
    padding-right: 4em;
    padding-left: 4em;
  }

  #home & {
    position: static;

    background-color: transparent;
    box-shadow: none;
  }

  &__img {

    img {
      height: 2em;
      width: 2em;
    }
  }

  &__list {
    display: flex;

    & > *:not(:last-child) {
      margin-right: 1.5em;
    }

    a {

      &:hover,
      &:active,
      &:focus {
        color: $color-alpha;
        border-bottom: 1px solid $color-alpha;
      }

      #home & {
        color: $color-white;

        &:hover,
        &:active,
        &:focus {
          color: $color-white;
          border-bottom: 1px solid $color-white;
        }
      }
    }
  }
}

.js-active {
  color: $color-alpha;
}

/**
 * Footer
 */
.footer {
  z-index: 9;

  padding: 1em;

  @media (min-width: $mq-sm) {
    padding: 2em;
  }

  @media (min-width: $mq-md) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3em 4em;
  }

  &__list {
    display: flex;
    margin-top: 0.5em;

    @media (min-width: $mq-sm) {
      margin-top: 0;
    }

    & > *:not(:last-child) {
      margin-right: 0.75em;
    }
  }

  a {
    transition: color 0.2s ease;

    #home & {
      color: $color-white;
    }

    &.fa-twitter,
    #home &.fa-twitter {

      &:hover,
      &:active,
      &:focus {
        color: #55acee;
      }
    }

    &.fa-linkedin,
    #home &.fa-linkedin {

      &:hover,
      &:active,
      &:focus {
        color: #0077b5;
      }
    }

    &.fa-instagram,
    #home &.fa-instagram {

      &:hover,
      &:active,
      &:focus {
        color: #003569;
      }
    }
  }
}
