//----------------------------------------------   
//  Config
//  
//  01: Font variables
//  02: Media Queries
//  03: Colors
//---------------------------------------------- 

//----------------------------------------------
// Fonts
//----------------------------------------------
$font-header: "Calibre", serif;
$font-body: "Apercu", sans-serif;

//----------------------------------------------
// Fonts: Lineheight
//---------------------------------------------- 
$base-lineheight: 1.4;

//----------------------------------------------
// Media Queries
//---------------------------------------------- 
// Smallest phone
$mq-xs: 20em;
// Phone
$mq-sm: 30em;
// Tablet
$mq-md: 54em;
// Laptop
$mq-lg: 64em;
// Past laptop
$mq-xl: 76.5em;
// Mid-size monitor
$mq-xxl: 114em;

//----------------------------------------------
// Colors
//---------------------------------------------- 
$color-alpha: #4231a9;

$color-black: #000;
$color-grey: #ddd;
$color-white: #fff;
