//----------------------------------------------
// Footer
//---------------------------------------------- 
.footer {
  z-index: 9;

  padding: 1em;

  background-color: $color-white;

  @media (min-width: $mq-sm) {
    padding: 2em;
  }

  @media (min-width: $mq-md) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3em 4em;
  }

  #home & {
    background-color: transparent;
  }

  &__list {
    display: flex;
    margin-top: 0.5em;

    list-style-type: none;

    @media (min-width: $mq-sm) {
      margin-top: 0;
    }

    & > *:not(:last-child) {
      margin-right: 0.75em;
    }
  }

  a {
    transition: color 0.2s ease;

    #home & {
      color: $color-white;
    }

    &.fa-twitter,
    #home &.fa-twitter {

      &:hover,
      &:active,
      &:focus {
        color: #55acee;
      }
    }

    &.fa-linkedin,
    #home &.fa-linkedin {

      &:hover,
      &:active,
      &:focus {
        color: #0077b5;
      }
    }

    &.fa-instagram,
    #home &.fa-instagram {

      &:hover,
      &:active,
      &:focus {
        color: #003569;
      }
    }
  }
}

//----------------------------------------------
// Body
//---------------------------------------------- 
body {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

//----------------------------------------------
// Main
//---------------------------------------------- 
main {
  flex-grow: 1;
  padding-top: 4em;

  #home & {
    @extend %flex-center;

    padding-top: 0;
  }
}
