---
layout: default
title: Blog
description: 
gif: /assets/images/blog/mast.gif
image: 
---
{% include mast.html %}

<section class="post section-padding bg-white">
  <div class="grid">
    <p class="intro">Welcome to my blog. I use my free time to test out new technology and practices and blog about my findings.</p>
  </div>
</section>

<section class="section-padding--no-top bg-white">
  <div class="grid">
    <ul itemscope itemtype="http://schema.org/Blog">

      {% for post in paginator.posts %}
        
        {% include post-card.html %}

      {% endfor %}
      
    </ul>

    {% if paginator.total_pages > 1 %}
      <div class="pagination">
        {% if paginator.previous_page %}
          <div>
            <a class="pagination__prev" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Previous</a>
          </div>
        {% else %}
          <span></span>
        {% endif %}

        <div class="pagination__pages">
          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <span>{{ page }}</span>
            {% elsif page == 1 %}
              <a href="{{ '/blog' | prepend: site.baseurl }}">{{ page }}</a>
            {% else %}
              <a href="{{ site.paginate_path | prepend: site.baseurl | replace: ':num', page }}">{{ page }}</a>
            {% endif %}
          {% endfor %}
        </div>

        {% if paginator.next_page %}
          <div>
            <a class="pagination__next" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Next</a>
          </div>
        {% else %}
          <span></span>
        {% endif %}
      </div>
    {% endif %}

  </div>
</section>
