
@font-face {
  font-family: 'Tiro K';
  src: url('../lib/fonts/si5ZgdiHbak7rS2G-TiroKannada-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../lib/fonts/DMSans-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../lib/fonts/DMSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../lib/fonts/DMSans-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../lib/fonts/DMSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

