//----------------------------------------------
// Mast
//---------------------------------------------- 
.mast {
  @extend %flex-center;

  position: relative;

  height: 18em;
  padding: 1em;

  @media (min-width: $mq-sm) {
    height: 24em;
  }

  @media (min-width: $mq-md) {
    height: 30em;
  }

  @media (min-width: $mq-xxl) {
    height: 36em;
  }

  &--tags {

    @media (min-width: $mq-md) {
      height: 24em;
    }

    @media (min-width: $mq-xxl) {
      height: 30em;
    }
  }

  &__container {
    z-index: 1;

    max-width: 45em;

    color: $color-white;
    text-align: center;

    #home & {
      animation: fade-in 800ms ease-in-out 600ms both;
    }
  }

  &__time {
    display: block;
    margin-top: 1em;

    font-size: 1.1em;
  }

  &--home {
    z-index: 9;

    padding: 1em;
  }
}
