//----------------------------------------------
// Preview
//---------------------------------------------- 
.preview {

  &:not(:last-child) {
    margin-bottom: 3em;
  }

  ul & {
    list-style-type: none;
  }

  &__link {

    &:hover,
    &:active,
    &:focus {
      color: $color-alpha;

      .fa-external-link {
        visibility: visible;
        opacity: 1;
      }

      .preview__subheader {
        text-decoration: underline;
      }
    }
  }

  .fa-external-link {
    font-size: 0.6em;
    visibility: hidden;
    opacity: 0;
  }

  &__subheader {
    @extend %intro-font;

    display: inline-block;
    margin-top: 0.25em;
    margin-bottom: 0;

    line-height: 1.2;
  }
}
